ul#menubar
  li
    a(href='/home') Home
  li
    a(href='/home/places') Places
  li
    a(href='/home/cafes') Cafes&Restaurants
  li
    a(href='/home/suburb') Suburb
  li
    a(href='/home/contact') Contact
