doctype html
html
  head
    meta(charset='utf-8')
    style.
      html {
      min-height: 100%;
      }
      body {
      background: linear-gradient(to top, #ffafbd, #c9ffbf);
      font-family: Arial;
      }
      #menubar {
      margin: 50px;
      padding: 0px;
      list-style: none;
      }
      #menubar li {
      float: left;
      width: 250px;
      height: 40px;
      background: #ff80bf;
      color: #ffffff;
      opacity: .8;
      text-align: center;
      line-height: 40px;
      font-weight: 900;
      }
      #menubar li a {
      text-decoration: none;
      color: #ffffff;
      font-weight: 900;
      }
      h1 {
      text-align: center;
      color: #ffafbd;
      }
      ul li {
      list-style: none;
      }
    title Contact
  body
    include ./includes/hyperlinks.jade
    h1 CONTACT
    ul
      li email: jeunkim0209@naver.com
      li instagram: instagram.com/_thisisj
      li tistory: darlenejournal.tistory.com
