doctype html
html
  head
    meta(charset='utf-8')
    title SEOUL CITY IN MIND
    style.
      html {
      min-height: 100%;
      }
      body {
      background: linear-gradient(to top, #9796f0, #fbc7d4);
      font-family: Arial;
      }
      h1 {
      text-align: center;
      color: #ffffff;
      }
      ul {
      margin: 50px;
      padding: 0px;
      list-style: none;
      }
      ul li {
      float: left;
      width: 250px;
      height: 40px;
      background: #ff80bf;
      color: #ffffff;
      opacity: .8;
      text-align: center;
      line-height: 40px;
      font-weight: 900;
      }
      ul li a {
      text-decoration: none;
      color: #ffffff;
      font-weight: 900;
      }
      div {
      float: left;
      margin: 90px;
      padding: 15px;
      background: #9098ff;
      color: : #ffffff;
      text-align: center;
      }
      div a {
      text-decoration: none;
      color: #ffffff;
      }
  body
    h1 WELCOME TO SEOUL CITY IN MIND
    include ./includes/hyperlinks.jade
    block content
