extends ./category_layout.jade

block title
  title Places

block content
  h1 PLACES
  ul#list
    each result in results
      li
        a(href='/home/'+result.category+'/'+result.id)= result.title
