doctype html
html
  head
    meta(charset='utf-8')
    title Error
    style.
      html {
      min-height: 100%;
      }
      body {
      background: linear-gradient(to top, #faaca8, #ddd6f3);
      font-family: Arial;
      }
      h1 {
      text-align: center;
      }
      p {
      float: center;
      }
      a {
      text-decoration: none;
      color: #ff054b;
      }
  body
    h1 Error!
    block content
